$dark-primary: #071e22;
$primary: #1d7874;
$light-primary: #679289;
$secondary: #f4c095;
$accent: #ee2e31;
$gold: #fdcd5e;
$light-gold: rgba(233, 196, 106, .25);

$white: #fff;

$primary-text-color: $dark-primary;
$secondary-text-color: $light-primary;

$shadow-color: rgba(0, 0, 0, 0.1);